#form-card--container h1 {
  max-width: 500px;
  margin: 10px auto;
  padding-left: 10px;
  font-weight: 300;
}

.form-card {
  max-width: 500px;
  margin: 10px auto;
}

.login-register-switch--text {
  font-size: 1rem;
}

.login-register-switch--link {
  font-size: 1rem;
  color: var(--light-blue);
  text-decoration: none;
}