<% if (typeof errors !== 'undefined') { %>
  <% errors.forEach((error) => { %>
    <div class="alert-card">
      <%= error.error_msg %>
      <button class="dismissable--button">
        <span>&times;</span>
      </button>
    </div>
  <% }); %>
<% } %>