@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

:root {
  --light-blue: #19d3da;
  --dark-grey: #373a40;
  --grey-white: #eeeeee;
  --white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

#page-container {
  /* enables child elements to be set 
  to absolute positioning */
  position: relative;
  /* expend the page to fit 100% of 
  the viewport height */
  min-height: 100vh;
}

#content-wrap {
  /* allot 100px for the footer plus
  20px for spacing */
  padding-bottom: 120px;
}

#navbar-contents {
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}

#logo {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  grid-column: 1 / span 2;
  text-align: center;
}

#search-wrapper {
  grid-column: 3 / span 5;
}

#search {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 8px;
  background-color: var(--light-blue);
  width: 100%;
  border: 0px;
  border-bottom: 2px solid var(--dark-grey);
}

#search:focus {
  outline: none;
  background-color: var(--light-blue);
}

.navbar nav {
  grid-column: 8 / span 1;
  width: 100%;
  justify-content: center
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: 1.2rem;
}

.navbar {
  width: 100%;
  height: 150px;
  background-color: var(--light-blue);
  color: var(--dark-grey)
}

#footer {
  /* pin the footer to the bottom*/
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: var(--grey-white);
  color: var(--dark-grey);
  justify-content: center;
  align-items: center;
}

#footer-text {
  font-size:  1rem;
  text-align: center;
}

#footer-text a {
  text-decoration: none;
  color: var(--dark-grey);
}

#footer-logo {
  color: var(--light-blue);
  font-weight: 600;
}

#footer-links-array {
  margin: 10px auto;
}

#copyright {
  font-weight: 300;
  font-size: 0.8rem;
}



/* Add Board Button Styles */

#add-board-btn--container {
  max-width: 700px;
  /* account for padding, which is 40px x2*/
  min-width: 420px;
  margin: 10px auto;
  background-color: var(--dark-grey);
  border: none;
  border-radius: 15px;
  box-shadow: -5px 5px 0px var(--light-blue);
}

#add-board-btn {
  width: 100%;
  padding: 10px 0px;
  background-color: var(--dark-grey);
  color:white;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  border: var(--dark-grey);
  border-radius: 15px;
  cursor: pointer;
}

#add-board-btn:focus {
  outline: none;
}

#add-board-btn--container .hide-elem {
  display: none;
}

#add-board-btn--form {
  background-color: var(--dark-grey);
  color: white;
}

#add-board-btn--form button {
  background-color: var(--dark-grey);
  color: white;
  border-bottom: 2px solid var(--dark-grey);
}

#add-board-btn--form button:hover {
  border-bottom: 2px solid var(--light-blue);
}

#add-board-btn--input {
  margin: 10px 0px;
  background-color: var(--dark-grey);
  color: white;
  border: none;
  border-bottom: 2px solid white;
  font-size: 1.2rem;
}

#add-board-btn--input:focus {
  outline: none;
}

/* Board Styling Prototypes (will be transferred
over to webcomponts stylesheets) */

.board {
  max-width: 700px;
  min-width: 420px;
  margin: 10px auto;
  border: 1px solid var(--dark-grey);
  border-radius: 15px;
  /* locate shadow x: -5px, y: 5px, 0px blur*/
  box-shadow: -5px 5px 0px var(--light-blue);
}

.board-header {
  justify-content: space-between;
}

.board-header h3 {
  margin: 10px 20px;
}

.board-header i {
  margin: 16px 20px;
}

.board-related-actions {
  background-color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.board-related-actions:focus {
  outline: none;
  /* No distance x, y, No blur, 1px of spread */
  box-shadow: 0 0 0 1px var(--dark-grey);
}

/* Link Line Styling Prototypes (will be transferred
over to webcomponents stylesheet)*/

.link-line {
  background-color: var(--grey-white);
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.link-body {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1 / span 5;
}

.link-body p {
  /* enable the word (link) to be broken 
  anywhere when scaling the viewport */
  word-break: break-all;
}

.link-url {
  font-size: 1rem;
  color: var(--dark-grey)
}

.link-line-actions--control {
  grid-template-columns: 5 / span 1;
  display: flex;
  justify-content: center;
}

.delete-link-btn {
  margin: 5px 5px;
  font-family: "Nunito", sans-serif;
  color: var(--dark-grey);
  font-size: 1.2rem;
  font-weight: 300;
  background-color: none;
  border: none;
  cursor: pointer;
}

.link-line-actions--control .hide-elem{
  display: none;
}

.open-link-anchor {
  margin: 5px 5px;
  font-family: "Nunito", sans-serif;
  color: var(--dark-grey);
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
}

/* Add Link Form Styling Prototypes (will be transferred
over to webcomponent's stylesheet)*/

.form {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: var(--grey-white);
  color: var(--dark-grey);
  border-radius: 10px;
}

.input {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  background-color: var(--grey-white);
  color: var(--dark-grey);
  border: none;
  border-bottom: 2px solid var(--dark-grey);
  margin: 10px 0px;
}

.input:focus {
  outline: none;
}

.btn-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-btn {
  padding: 10px 5px 0px 5px;
  margin: 5px 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  background-color: none;
  color: var(--dark-grey);
  border: none;
  border-bottom: 2px solid var(--grey-white);
  cursor: pointer;
}

.form-btn:hover {
  border-bottom: 2px solid var(--light-blue)
}

.form-btn:focus {
  outline: none;
}

/* Add Link Button Styling Prototypes (will be transferred
over to webcomponent's stylesheet)*/

.add-link-btn--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-link-btn {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  border: none;
  border-bottom: 2px solid white;
}

.add-link-btn--container .hide-elem {
  display: none;
}

/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  min-width: 140px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 0px 1px var(--dark-grey);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content button {
  margin: 5px 0;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  background-color: white;
  border: none;
  border-bottom: 2px solid white;
}

.dropdown-content button:hover {
  border-bottom: 2px solid var(--light-blue)
}

.dropdown-content button:focus {
  outline: none;
}

.dropdown .hide-elem {
  display: none;
}