<link rel="stylesheet" href="stylesheets/dashboard.css">

<!-- add-board-btn -->
<section class="container">
  <div id="add-board-btn--container">
    <button id="add-board-btn">
      <p>-- Add New Board --</p>
    </button>
    <div id="add-board-btn--form" class="form hide-elem">
      <form action="" class=" flexV">
        <label for="board-title">Board Title</label>
        <input type="text" name="board-title" id="add-board-btn--input">
        <div class="btn-control">
          <button class="form-btn" type="submit">save</button>
          <button class="form-btn" id="add-board-btn--cancel" type="button">cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- board web component -->
<link-board title="Programming & JavaScript">
  <link-line
    slot="link-line"
    linkTitle="MongoDB schema design"
    linkUrl="https://medium.com/hackernoon/mongodb-schema-design-86327d8fae83"
  ></link-line>
  <link-line
    slot="link-line"
    linkTitle="Using templates and slots"
    linkUrl="https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_templates_and_slots"
  ></link-line>
  <add-link-section
    slot="add-link-section"
  ></add-link-section>
</link-board>
<link-board title="Recipes">
  <link-line
    slot="link-line"
    linkTitle="Yellow Curry Fried Rice"
    linkUrl="https://www.allrecipes.com/recipe/282347/yellow-curry-fried-rice/"
  ></link-line>
  <link-line
    slot="link-line"
    linkTitle="Soft Chocolate Chip Cookies"
    linkUrl="https://sallysbakingaddiction.com/chocolate-chip-cookies/"
  ></link-line>
  <add-link-section
    slot="add-link-section"
  ></add-link-section>
</link-board>

<script type="module" src="./app.js"></script>