<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">

<div id="hero-container">
  <section id="hero-text" class="container">
    <h1>Enjoy your own curated content, anywhere and anytime.</h1>
    <p>On the go, Checkpoint can help you track and save links to articles, videos, and webpages to the topics that matter to you.</p>
    <a href="users/register">Get Started Today</a>
  </section>
  <section id="hero-image--container" class="container">
    <img id="hero-image" src="media/Checkpoint-Mockup-Icons.png" alt="">
  </section>
</div>