/* LANDING PAGE */

#hero-container {
  height: 100%;
}

#hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#hero-text h1 {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: flex-start;
}

#hero-text p {
  width: 100%;
  margin: 10px 0;
  padding-left: 50%;
  padding-right: 10px;
  font-weight: 300;
  text-align: right;
  align-self: flex-end;
}

#hero-text a {
  margin: 30px 0;
  padding: 10px 20px;
  color: white;
  background-color: var(--light-blue);
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  align-self: center;
}

#hero-image--container {
  width: 100%;
  /* adapt to height of contents */
  height: auto;
  background-color: var(--light-blue);
  border-radius: 10px 10px 0 0;
  display: flex;
}

#hero-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 20px auto;
}

@media (min-width: 768px) {
  #hero-container {
    background: linear-gradient(360deg, #19D3DA 40%, rgba(25, 211, 218, 0) 60%);
    mix-blend-mode: normal;
  }

  #hero-text p {
    padding-left: 60%;
  }

  #hero-image--container {
    background: none;
  }
}

@media (min-width: 1400px) {
  #hero-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
  }

  #hero-text p {
    align-self: flex-start;
    text-align: left;
    padding-left: 0;
  }
  
  #hero-text a {
    align-self: flex-start;
  }

  #hero-container {
    background: none;
  }

  #hero-image--container {
    height: 100%;
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 50%;
    background: linear-gradient(327.8deg, #19D3DA 30%, rgba(25, 211, 218, 0) 90%);
  }
}