<link rel="stylesheet" href="stylesheets/login-register.css">

<section id="form-card--container" class="container">
  <h1>Sign In</h1>
  <%- include ("../partials/alerts") %>
  <div class="form-card">
    <form class="form flexV" action="/users/login" method="POST">
      <label for="email">Email</label>
      <input 
        name="email" 
        class="input" 
        type="text">
      <label for="password">Password</label>
      <input name="password" class="input" type="password">
      <p class="login-register-switch--text">Need an account? - <a class="login-register-switch--link" href="/users/register">Register</a></p>
      <div class="btn-control">
        <input class="form-btn"type="submit" value="Sign In">
      </div>
    </form>
  </div>
</section>

<script src="alerts.js"></script>